html
  head
    style(type="text/css").
      /*
      Copyright (c) 2008, Yahoo! Inc. All rights reserved.
      Code licensed under the BSD License:
      http://developer.yahoo.net/yui/license.txt
      version: 2.5.1
      */
      html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
      body{text-align:left;}#ft{clear:both;}#doc,#doc2,#doc3,#doc4,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7{margin:auto;text-align:left;width:57.69em;*width:56.25em;min-width:750px;}#doc2{width:73.076em;*width:71.25em;}#doc3{margin:auto 10px;width:auto;}#doc4{width:74.923em;*width:73.05em;}.yui-b{position:relative;}.yui-b{_position:static;}#yui-main .yui-b{position:static;}#yui-main{width:100%;}.yui-t1 #yui-main,.yui-t2 #yui-main,.yui-t3 #yui-main{float:right;margin-left:-25em;}.yui-t4 #yui-main,.yui-t5 #yui-main,.yui-t6 #yui-main{float:left;margin-right:-25em;}.yui-t1 .yui-b{float:left;width:12.30769em;*width:12.00em;}.yui-t1 #yui-main .yui-b{margin-left:13.30769em;*margin-left:13.05em;}.yui-t2 .yui-b{float:left;width:13.8461em;*width:13.50em;}.yui-t2 #yui-main .yui-b{margin-left:14.8461em;*margin-left:14.55em;}.yui-t3 .yui-b{float:left;width:23.0769em;*width:22.50em;}.yui-t3 #yui-main .yui-b{margin-left:24.0769em;*margin-left:23.62em;}.yui-t4 .yui-b{float:right;width:13.8456em;*width:13.50em;}.yui-t4 #yui-main .yui-b{margin-right:14.8456em;*margin-right:14.55em;}.yui-t5 .yui-b{float:right;width:18.4615em;*width:18.00em;}.yui-t5 #yui-main .yui-b{margin-right:19.4615em;*margin-right:19.125em;}.yui-t6 .yui-b{float:right;width:23.0769em;*width:22.50em;}.yui-t6 #yui-main .yui-b{margin-right:24.0769em;*margin-right:23.62em;}.yui-t7 #yui-main .yui-b{display:block;margin:0 0 1em 0;}#yui-main .yui-b{float:none;width:auto;}.yui-gb .yui-u,.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u{float:left;}.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf,.yui-gc .yui-u,.yui-gd .yui-g,.yui-g .yui-gc .yui-u,.yui-ge .yui-u,.yui-ge .yui-g,.yui-gf .yui-g,.yui-gf .yui-u{float:right;}.yui-g div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first,.yui-ge div.first,.yui-gf div.first,.yui-g .yui-gc div.first,.yui-g .yui-ge div.first,.yui-gc div.first div.first{float:left;}.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf{width:49.1%;}.yui-gb .yui-u,.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u{width:32%;margin-left:1.99%;}.yui-gb .yui-u{*margin-left:1.9%;*width:31.9%;}.yui-gc div.first,.yui-gd .yui-u{width:66%;}.yui-gd div.first{width:32%;}.yui-ge div.first,.yui-gf .yui-u{width:74.2%;}.yui-ge .yui-u,.yui-gf div.first{width:24%;}.yui-g .yui-gb div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first{margin-left:0;}.yui-g .yui-g .yui-u,.yui-gb .yui-g .yui-u,.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u,.yui-ge .yui-g .yui-u,.yui-gf .yui-g .yui-u{width:49%;*width:48.1%;*margin-left:0;}.yui-g .yui-gb div.first,.yui-gb .yui-gb div.first{*margin-right:0;*width:32%;_width:31.7%;}.yui-g .yui-gc div.first,.yui-gd .yui-g{width:66%;}.yui-gb .yui-g div.first{*margin-right:4%;_margin-right:1.3%;}.yui-gb .yui-gc div.first,.yui-gb .yui-gd div.first{*margin-right:0;}.yui-gb .yui-gb .yui-u,.yui-gb .yui-gc .yui-u{*margin-left:1.8%;_margin-left:4%;}.yui-g .yui-gb .yui-u{_margin-left:1.0%;}.yui-gb .yui-gd .yui-u{*width:66%;_width:61.2%;}.yui-gb .yui-gd div.first{*width:31%;_width:29.5%;}.yui-g .yui-gc .yui-u,.yui-gb .yui-gc .yui-u{width:32%;_float:right;margin-right:0;_margin-left:0;}.yui-gb .yui-gc div.first{width:66%;*float:left;*margin-left:0;}.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf .yui-u{margin:0;}.yui-gb .yui-gb .yui-u{_margin-left:.7%;}.yui-gb .yui-g div.first,.yui-gb .yui-gb div.first{*margin-left:0;}.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u{*width:48.1%;*margin-left:0;}s .yui-gb .yui-gd div.first{width:32%;}.yui-g .yui-gd div.first{_width:29.9%;}.yui-ge .yui-g{width:24%;}.yui-gf .yui-g{width:74.2%;}.yui-gb .yui-ge div.yui-u,.yui-gb .yui-gf div.yui-u{float:right;}.yui-gb .yui-ge div.first,.yui-gb .yui-gf div.first{float:left;}.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf div.first{*width:24%;_width:20%;}.yui-gb .yui-ge div.first,.yui-gb .yui-gf .yui-u{*width:73.5%;_width:65.5%;}.yui-ge div.first .yui-gd .yui-u{width:65%;}.yui-ge div.first .yui-gd div.first{width:32%;}#bd:after,.yui-g:after,.yui-gb:after,.yui-gc:after,.yui-gd:after,.yui-ge:after,.yui-gf:after{content:".";display:block;height:0;clear:both;visibility:hidden;}#bd,.yui-g,.yui-gb,.yui-gc,.yui-gd,.yui-ge,.yui-gf{zoom:1;}
    :stylus
      bwidth = 720

      h2
        margin-top 20px

      ul>li
        margin-top 10px
      ul>li>ul>li
        margin-top 5px
      ul.nospace>li
        margin-top 5px

      #header
        background-color white
        color black
        //padding 0 0 5px 10px

      ::selection, ::-moz-selection, ::-webkit-selection
        background #666
        color #fff

      html
        background-color #FFFFFFF

      serif()
        font-family Garamond, Georgia, New York Times, Times New Roman, serif

      body
        margin 10px auto
        font-size 12pt
        width bwidth

      .threecol
        float left
        width (bwidth / 3)

      .clear
        clear both

      .right
        float right
        margin-left 5px

      hr
        clear both

      h1
        font-size 2em
        serif()

      .subtitle
        margin 18px 10px 0 0
        color #BBB
        float right

      .details
        color #666

      a
        color #39f
        text-decoration none

      .nobullet>li
        list-style-type none
        margin-left 0

      h2
        font-size 1.5em
        serif()

      li
        list-style-type square
        margin-left 1em

      h3
        margin-left 20px
        serif()

      .skill
        display inline
        padding-right 0.5em

    title Viktor Stanchev - Resume
  body
    #header
      h1 Viktor Stanchev

    hr.clear

    .threecol.details
      p Software Engineer
    .threecol.details
      p me@viktorstanchev.com
    .threecol.details
      p http://viktorstanchev.com

    .clear
    hr

    h2 Work experience
    ul.nobullet
      .right June 2015 - Dec 2018
      li 
        b Docker 
        | - Software Engineer
        ul
          li Developed Docker's highly available enterprise Registry product
          li Debugged and reported many low level docker, kernel and networking bugs
          li Improved dev processes, mentored peers, architected features and solved difficult bugs
          li Technologies: Go, Docker, etcd, RethinkDB, python, Jenkins, etc.
      .right Sept - Dec 2014
      li 
        b Square 
        | - Software Engineer
        ul
          li Automated vulnerability scanning and handling of newly discovered vulnerabilities
          li Improved intrusion detection systems
          li Discovered and fixed vulnerabilities
          li Designed and built a simple system for issuing and managing TLS certificates
          li Technologies: Ruby, Rails, SQLite, Nessus, OS X, Linux, etc.
      .right Jan - Apr 2014
      li 
        b Mozilla 
        | - Software Engineering Intern
        ul
          li Improved (performance, features) the Gecko Profiler and Cleopatra (frontend to the profiler)
          li Added profiling capabilities to Talos (an automated performance testing framework)
          li Technologies: C++, FirefoxOS, Python, JavaScript, HTML, CSS, etc.
      .right May - Aug 2013
      li 
        b LinkedIn 
        | - Software Engineer
        ul
          li Designed and developed a distributed system for monitoring the performance of LinkedIn's graph database (which gets on the order of 100,000 qps)
          li Designed and developed a front-end for displaying metrics collected with the new system
          li Built a foosball / ping pong ladder which uses PageRank to rank players (as a hackathon project)
          li Technologies: Java, Scala, gradle, Norbert, JavaScript, node.js, Play framework, backbone.js, d3.js, etc.
      .right Sept - Dec 2012
      li
        b LinkedIn 
        | - Software Engineer
        ul
          li Developed a system for monitoring front-end performance throughout all of linkedin.com
          li Worked at all levels: front-end JavaScript to Hadoop data analytics and data visualization
          li Technologies: Java, JavaScript, Hadoop, Kafka, Teradata, Node.js, SQL, dustjs, InGraphs, Red Hat Linux, etc.
      .right Jan - Apr 2012
      li
        b Tagged
        | (renamed to if(we)) - Software Engineer
        ul
          li Implemented a machine learning algorithm for spam detection 
          li Source paper: 
            i F. Qian, A. Pathak, Y.C. Hu, Z.M. Mao,  and Y. Xie,   "A case for unsupervised-learning-based spam filtering"
          li Technologies: Java, Scala, JavaScript, Spring, Ubuntu, etc.
      .right May - Aug 2011
      li
        b SpeechBobble 
        | (renamed to SociaLabra) - Web Application Developer
        ul
          li Built front-end features in a private social network
          li Found and fixed half of the top 10 OWASP 2010 risks
          li Technologies: Java, JavaScript, MySQL, FogBugz, JBoss, Tomcat, etc.

      .right Sept - Dec 2010
      li
        b Enomaly 
        | (acquired by Virtustream) - Web Application Developer
        ul
          li Developed and improved custom modules for Drupal 6, designed database tables, etc.
          li Technologies: PHP, Apache, JavaScript, MySQL, Trac, SVN, AJAX, jQuery, CSS, GIMP, Ubuntu, Tomcat, Solr, etc.

    h2 Projects
    ul.nobullet
      li
        b Open source Bitcoin exchange: https://txbits.org
        .right Jan 2014 - November 2015
        ul
          li Designed, built, deployed and maintained a Bitcoin exchange
          li Technologies: Scala, Play!, [web stuff], postgresql, ansible, logstash, elasticsearch, kibana, bitcoind, litecoind, nginx, memcached, spiped, runit
      li
        b Network Code Module
        .right Sept 2013
        ul
          li Built a kernel module for RT linux that implements Sebastian Fishmeister's language for real time network schedules
          li Source paper: 
            i Fischmeister, Oleg Sokolsky and Insup Lee, "Network-Code Machine: Programmable Real-Time Communication Schedules"
          li Technologies: Arch Linux, C, Python, bash, HTML, Bootstrap, JavaScript, CSS

    h2 Education
    ul.nobullet
      li 
        b Candidate for Bachelor of Software Engineering
        .right Sept 2009 - June 2015
        ul
          li University of Waterloo, Waterloo, ON, Canada
          li Cumulative Average ~85%

    h2 Interests
    p End-to-end encryption, P2P, operating systems, network security, man in the middle attacks, social networks, privacy, reverse engineering, internet of things

    h2 Things not listed above
    ul.nospace
      li Programming languages descending, by skill / experience: Scala, JavaScript, Python, Ruby, C++, C, Java, PHP, C#, Haskell
      li Other: Linux, Android, Git, SVN, Mercurial, various security tools
