html
  head
    style(type="text/css")
      /*
      Copyright (c) 2008, Yahoo! Inc. All rights reserved.
      Code licensed under the BSD License:
      http://developer.yahoo.net/yui/license.txt
      version: 2.5.1
      */
      html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
      body{text-align:left;}#ft{clear:both;}#doc,#doc2,#doc3,#doc4,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7{margin:auto;text-align:left;width:57.69em;*width:56.25em;min-width:750px;}#doc2{width:73.076em;*width:71.25em;}#doc3{margin:auto 10px;width:auto;}#doc4{width:74.923em;*width:73.05em;}.yui-b{position:relative;}.yui-b{_position:static;}#yui-main .yui-b{position:static;}#yui-main{width:100%;}.yui-t1 #yui-main,.yui-t2 #yui-main,.yui-t3 #yui-main{float:right;margin-left:-25em;}.yui-t4 #yui-main,.yui-t5 #yui-main,.yui-t6 #yui-main{float:left;margin-right:-25em;}.yui-t1 .yui-b{float:left;width:12.30769em;*width:12.00em;}.yui-t1 #yui-main .yui-b{margin-left:13.30769em;*margin-left:13.05em;}.yui-t2 .yui-b{float:left;width:13.8461em;*width:13.50em;}.yui-t2 #yui-main .yui-b{margin-left:14.8461em;*margin-left:14.55em;}.yui-t3 .yui-b{float:left;width:23.0769em;*width:22.50em;}.yui-t3 #yui-main .yui-b{margin-left:24.0769em;*margin-left:23.62em;}.yui-t4 .yui-b{float:right;width:13.8456em;*width:13.50em;}.yui-t4 #yui-main .yui-b{margin-right:14.8456em;*margin-right:14.55em;}.yui-t5 .yui-b{float:right;width:18.4615em;*width:18.00em;}.yui-t5 #yui-main .yui-b{margin-right:19.4615em;*margin-right:19.125em;}.yui-t6 .yui-b{float:right;width:23.0769em;*width:22.50em;}.yui-t6 #yui-main .yui-b{margin-right:24.0769em;*margin-right:23.62em;}.yui-t7 #yui-main .yui-b{display:block;margin:0 0 1em 0;}#yui-main .yui-b{float:none;width:auto;}.yui-gb .yui-u,.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u{float:left;}.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf,.yui-gc .yui-u,.yui-gd .yui-g,.yui-g .yui-gc .yui-u,.yui-ge .yui-u,.yui-ge .yui-g,.yui-gf .yui-g,.yui-gf .yui-u{float:right;}.yui-g div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first,.yui-ge div.first,.yui-gf div.first,.yui-g .yui-gc div.first,.yui-g .yui-ge div.first,.yui-gc div.first div.first{float:left;}.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf{width:49.1%;}.yui-gb .yui-u,.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u{width:32%;margin-left:1.99%;}.yui-gb .yui-u{*margin-left:1.9%;*width:31.9%;}.yui-gc div.first,.yui-gd .yui-u{width:66%;}.yui-gd div.first{width:32%;}.yui-ge div.first,.yui-gf .yui-u{width:74.2%;}.yui-ge .yui-u,.yui-gf div.first{width:24%;}.yui-g .yui-gb div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first{margin-left:0;}.yui-g .yui-g .yui-u,.yui-gb .yui-g .yui-u,.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u,.yui-ge .yui-g .yui-u,.yui-gf .yui-g .yui-u{width:49%;*width:48.1%;*margin-left:0;}.yui-g .yui-gb div.first,.yui-gb .yui-gb div.first{*margin-right:0;*width:32%;_width:31.7%;}.yui-g .yui-gc div.first,.yui-gd .yui-g{width:66%;}.yui-gb .yui-g div.first{*margin-right:4%;_margin-right:1.3%;}.yui-gb .yui-gc div.first,.yui-gb .yui-gd div.first{*margin-right:0;}.yui-gb .yui-gb .yui-u,.yui-gb .yui-gc .yui-u{*margin-left:1.8%;_margin-left:4%;}.yui-g .yui-gb .yui-u{_margin-left:1.0%;}.yui-gb .yui-gd .yui-u{*width:66%;_width:61.2%;}.yui-gb .yui-gd div.first{*width:31%;_width:29.5%;}.yui-g .yui-gc .yui-u,.yui-gb .yui-gc .yui-u{width:32%;_float:right;margin-right:0;_margin-left:0;}.yui-gb .yui-gc div.first{width:66%;*float:left;*margin-left:0;}.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf .yui-u{margin:0;}.yui-gb .yui-gb .yui-u{_margin-left:.7%;}.yui-gb .yui-g div.first,.yui-gb .yui-gb div.first{*margin-left:0;}.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u{*width:48.1%;*margin-left:0;}s .yui-gb .yui-gd div.first{width:32%;}.yui-g .yui-gd div.first{_width:29.9%;}.yui-ge .yui-g{width:24%;}.yui-gf .yui-g{width:74.2%;}.yui-gb .yui-ge div.yui-u,.yui-gb .yui-gf div.yui-u{float:right;}.yui-gb .yui-ge div.first,.yui-gb .yui-gf div.first{float:left;}.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf div.first{*width:24%;_width:20%;}.yui-gb .yui-ge div.first,.yui-gb .yui-gf .yui-u{*width:73.5%;_width:65.5%;}.yui-ge div.first .yui-gd .yui-u{width:65%;}.yui-ge div.first .yui-gd div.first{width:32%;}#bd:after,.yui-g:after,.yui-gb:after,.yui-gc:after,.yui-gd:after,.yui-ge:after,.yui-gf:after{content:".";display:block;height:0;clear:both;visibility:hidden;}#bd,.yui-g,.yui-gb,.yui-gc,.yui-gd,.yui-ge,.yui-gf{zoom:1;}
    :stylus
      bwidth = 720

      h2
        margin-top 20px

      ul>li
        margin-top 10px
      ul>li>ul>li
        margin-top 5px
      ul.nospace>li
        margin-top 5px

      #header
        background-color black
        color white
        padding 0 0 5px 10px

      ::selection, ::-moz-selection, ::-webkit-selection
        background #666
        color #fff

      html
        background-color #FFFFFFF

      serif()
        font-family Garamond, Georgia, New York Times, Times New Roman, serif

      body
        margin 10px auto
        font-size 12pt
        width bwidth

      .threecol
        float left
        width (bwidth / 3)

      .clear
        clear both

      .right
        float right
        margin-left 5px

      hr
        clear both

      h1
        font-size 2em
        serif()

      .subtitle
        margin 18px 10px 0 0
        color #BBB
        float right

      .details
        color #666

      a
        color #39f
        text-decoration none

      .nobullet>li
        list-style-type none
        margin-left 0

      h2
        font-size 1.5em
        serif()

      li
        list-style-type square
        margin-left 1em

      h3
        margin-left 20px
        serif()

      .skill
        display inline
        padding-right 0.5em

    title Viktor Stanchev - Resume
  body
    #header
      h1 Viktor Stanchev

    hr.clear

    .threecol.details
      p 3B Software Engineering
      p University of Waterloo
    .threecol.details
      p Student ID: 20344377
      p Email: me@viktorstanchev.com
    .threecol.details
      p Blog: viktorstanchev.com
      p Phone: (226) 789-5932

    .clear
    hr

    h2 Work Experience
    ul.nobullet
      .right Summer 2013
      li 
        b LinkedIn 
        | - Software Engineer
        ul
          li Designed and developed a distributed system for monitoring the performance of LinkedIn's graph database (which gets on the order of 100,000 qps)
          li Designed and developed a front-end for displaying metrics collected with the new system
          li Built a foosball / ping pong ladder which uses PageRank to rank players (as a hackathon project)
          li Technologies: Java, Scala, gradle, Norbert, JavaScript, node.js, Play framework, backbone.js, d3.js, etc.
      .right Fall 2012
      li
        b LinkedIn 
        | - Software Engineer
        ul
          li Developed a system for monitoring front-end performance throughout all of linkedin.com
          li Worked at all levels: front-end JavaScript to Hadoop data analytics and data visualization
          li Technologies: Java, JavaScript, Hadoop, Kafka, Teradata, Node.js, SQL, dustjs, InGraphs, Red Hat Linux, etc.
      .right Winter 2012
      li
        b Tagged 
        | - Software Engineer
        ul
          li Implemented a machine learning algorithm for spam detection 
          li Source paper: 
            i F. Qian, A. Pathak, Y.C. Hu, Z.M. Mao,  and Y. Xie,   "A case for unsupervised-learning-based spam filtering"
          li Technologies: Java, Scala, JavaScript, Spring, Ubuntu, etc.
      .right Summer 2011
      li
        b SpeechBobble 
        | - Web Application Developer
        ul
          li Built front-end features in a private social network
          li Found and fixed half of the top 10 OWASP 2010 issues
          li Technologies: Java, JavaScript, MySQL, FogBugz, JBoss, Tomcat, etc.
      .right Fall 2010
      li
        b Enomaly 
        | (acquired by Virtustream) - Drupal Developer
        ul
          li Developed and improved custom modules for Drupal 6, designed database tables, etc.
          li Technologies: PHP, Apache, JavaScript, MySQL, Trac, SVN, AJAX, jQuery, CSS, GIMP, Ubuntu, Tomcat, Solr, etc.

    h2 Projects
    ul.nobullet
      li
        b Recent adventures / Conversation starters:
        ul
          li Peer to peer social network with end-to-end encryption and no third parties
          li Multiplayer, online Conway's Game of Life 
      li
        b Network Code Module
        .right 2013
        ul
          li Built a kernel module for RT linux that implements Sebastian Fishmeister's language for real time network schedules
          li Source paper: 
            i Fischmeister, Oleg Sokolsky and Insup Lee, "Network-Code Machine: Programmable Real-Time Communication Schedules"
          li Technologies: Arch Linux, C, Python, bash, HTML, Bootstrap, JavaScript, CSS
      li
        b WatTools
        .right 2011
        ul
          li Crowd sourced repository of useful tools for Waterloo students with a custom GUI for editing
          li Technologies: PHP, JavaScript, mustache, backbone.js, jQuery plugins
      li
        b Co-op map 
        .right 2009 - 2010
        ul
          li Facebook application for Waterloo students to share their co-op placements on a map
          li Technologies: PHP, HTML, CSS, MySQL, JavaScript, Google Maps API, Facebook API
      li
        b CaptionSearch
        .right 2007 - 2009
        ul
          li Website for sharing funny or interesting images with ~1000 visitors per day.
          li Image uploading, multiple user tiers, automatic promotion of users, content categorization and filtering
          li Technologies: PHP, HTML, CSS, MySQL

    h2 Education
    ul.nobullet
      li Candidate for Bachelor of Software Engineering
        .right 2009 - present
        ul
          li University of Waterloo, Waterloo, ON, Canada
          li Cumulative Average ~85%
      li International Baccalaureate and OSSD
        .right 2005 - 2009
        ul
          li Weston Collegiate Institute, Toronto, ON, Canada


    h2 Interests
    p Software architecture, operating systems, security, social networks, genetic algorithms, machine learning, reverse engineering, social justice, privacy

    h2 Misc. Skills
    ul.nospace
      li Programming (descending, by skill / experience): JavaScript, Python, Scala, C++, C, Java, PHP, C#, Haskell
      //-, Haskell, Ruby
      li Security:
        | 
        s Crime
        | 
        | Spam fighting, web applications, social networks
      li Hackathon veteran: 2x Node.js Knockout, 2x Facebook, Tagged, 5x LinkedIn, Papaya Mobile, Kik
      li Web technologies: node.js, HTML, CSS, JavaScript (jQuery, mustache, bootstrap, backbone, etc.), single page apps, content management systems (Drupal and custom ones)
      li Hardware: Can use oscilloscope, multimeter, soldering iron, bread boards, FPGAs, microcontrollers
      li Academic exposure to MATLAB, FPGAs, digital and analog circuits, computer architecture, ADC/DAC, and 68k and MIPS assembly
      li MySQL, Apache, Git, SVN, redis, MongoDB, Android
